<h1>Edit (edit profile)</h1>

<form class="form-style" action="<%= new_profile_path(@profile) %>" method="POST" enctype="multipart/form-data">
<input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
  <input type="hidden" name="_method" value="patch"/>

  <label for="first_name">First Name</label>
  <input type="text" name="first_name" value="<%= @profile.first_name %>" />

  <label for="surname">Surname</label>
  <input type="text" name="surname" value="<%= @profile.surname %>" />

  <label for="skills">Skills</label>
  <input type="textarea" name="skills" value="<%= @profile.skills %>" />

  <label for="bio">Bio</label>
  <input type="textarea" name="bio" value="<%= @profile.bio %>" />

  <label for="hourly_rate">Hourly Rate</label>
  <input type="text" name="hourly_rate" value="<%= @profile.hourly_rate %>" />

  <input type="submit" value="Update" />
</form>

<%= link_to 'Home', home_path %> |
<%= link_to 'Back', :back %>
