
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Profile</title>
  <%= render "shared/navbar" %>
</head>
<body>
  <div class="text-center" style="margin: 50px;"><h1>Edit Profile</h1></div>
  
  <form class="form-style" action="<%= new_profile_path(@profile) %>" method="POST" enctype="multipart/form-data">
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
  <input type="hidden" name="_method" value="patch"/>

  <div class="card">
      <h5 class="card-header info-color white-text text-center py-4">
          <strong>Edit your profile</strong>
      </h5>
  <div class="card-body px-lg-5 pt-0">

  <form class="text-center" style="color: #757575;">

    <!-- FirstName -->
    <div class="md-form mt-3">
      <label for="first_name">First Name</label>
      <input type="text" class="form-control" name="first_name" value="<%= @profile.first_name %>" />
    </div>

     <!-- Surname -->
    <div class="md-form">
      <label for="surname">Surname</label>
      <input type="text" class="form-control" name="first_name" value="<%= @profile.first_name %>" />
    </div>

    <!--Skills -->
    <div class="md-form">
      <label for="skills">Skills</label>
      <input type="textarea" class="form-control" name="skills" value="<%= @profile.skills %>" /> 
    </div>

     <!-- Bio -->    
    <div class="md-form">
      <label for="bio">Bio</label>
      <input type="textarea" class="form-control" name="bio" value="<%= @profile.bio %>" />
    </div>

     <!-- Hourly Rate -->    
    <div class="md-form">
      <label for="hourly_rate">Hourly Rate</label>
      <input type="text" class="form-control" name="hourly_rate" value="<%= @profile.hourly_rate %>" />
    </div>

     <!-- Avatar -->    
    <div class="md-form">
      <label for="avatar">Avatar</label>
      <input type="file" class="form-control" name="avatar">
    </div>



<!-- Send button -->
    <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit" value="Update">Update</button>
  </form>
  
  <%= link_to 'Back', :back %>
</form>
</body>
</html>


    

       

       
        
       
        
        

       
        
       

   


