<h1>Hello World</h1>


<h1>SEARCH PAGE</h1>


<div class="d-flex flex-wrap">
  <% @profiles.each do |profile| %>
    <% if profile.tutor?  && profile.id != 86 && profile.id != 85 %>   <%# profile.id 85 & 86 are the admin and moderator users %>
      <div class="card m-2" style="width: 21.5rem;">
        <div class="card-body">
          <h5 class="card-title"><%= profile.first_name %> <%= profile.surname %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= profile.skills %></h6>
          <%# <p class="card-text"> </p> %>
          <%= link_to "View Profile", profile_path(profile) %> |
          <%= link_to "New Booking", new_booking_path(:tutor => profile.tutor_id) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<p><%= link_to "Create new profile", new_profile_path %></p>




