<h1>User Profile</h1>
<h1>Show (specific user profile + all reviews + add review form)</h1>
<ul>
  <li><%= @profile.first_name  %><%= @profile.surname %></li>
  <li><%= @profile.skills %></li>
  <li><%= @profile.bio %></li>
  <% unless nil %>
  <%= @profile.average_rating %>
  <%= @profile.hourly_rate %>
  <% end %>
</ul>
<% if @profile.user == current_user %>

 <p><%= link_to "Delete Profile", profile_path(@profile.id), method: :delete, data: { confirm: 'Are you sure?' } %></p>
 <p><%= link_to "Edit profile", edit_profile_path(current_user.profile) %></p>
<% end %>
<p><%= link_to "Go back to home", home_path %></p>

