

  <div class="container ">
    <br>
    <h1><%= @profile.first_name  %> <%= @profile.surname %></h1>
    <br>

      <% if @profile.avatar.attached? %>
        <div class="image_profile"><%= image_tag @profile.avatar.service_url, class: 'image' %></div>
      <% else %>
        <%= image_tag "https://avatarfiles.alphacoders.com/182/182752.jpg", class: 'image' %>
      <% end %>
<div class="container" style="background-color: grey; margin: 10px; padding: 10px; color: white;">
    <h2>Skills : <p style="font-size: 20px;"><%= @profile.skills %></p></h2> 
</div>   
<div class="container" style="background-color: grey; margin: 10px; padding: 10px; color: white;"> 
    <h2>Bio : <p style="font-size: 20px;"><%= @profile.bio %></p></h2>
</div>    
      <% if @profile.tutor? %>
        <h2>Hourly Rate: <p style="font-size: 20px;"><%= @profile.hourly_rate %></p></h2>
      <% unless @tutor.reviews.count.zero? %>
        <h2>Average Rating: <p style="font-size: 20px;"><%= @profile.average_rating %></p></h2>
      <% end %>
    <% end %>
  </ul>

<% if @profile.tutor? %>
  <h2> Reviews : </h2>
  <% if @tutor.reviews.count.zero? %>
      <p>This tutor hasn't received any reviews yet.</p>
  <% else %>
    <ul>
      <% @tutor.reviews.each do |review| %>
        <li> 
          <h6><strong> Content: </strong></h6> 
          <p><%= review.content %></p> 
          <h6><strong> Rating: </strong></h6> 
          <p><%= review.rating %></p> 
        </li>
        <%# <% if can? [:destroy, :update], Review %> 
        <% if signed_in? %>
          <% if review.reviewer_id == current_user.id || current_user.admin? || current_user.moderator? %>
            <%= link_to "Delete", delete_review_path(review), method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to "Edit", edit_review_path(review) %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% if @profile.user == current_user %>
  <%= link_to "Edit profile", edit_profile_path(current_user.profile) %>
  <% unless current_user.admin? %>  
    | <%= link_to "Delete Account", profile_path(@profile.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<% if current_user && @profile != current_user.profile %>
<form class="form-style" action="<%= new_review_path %>" method="POST" enctype="multipart/form-data">
    <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
    <input type="hidden" value="<%= @profile.tutor_id %>" name="tutor_id" />
    <input type="hidden" value="<%= current_user.id %>" name="reviewer_id" />

  <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Write a Review</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
          <label data-error="wrong" data-success="right" for="content"> Content <i class="fa fas fa-comment"></i></label>  
            <input type="text" id="content" class="form-control validate" name="content">
          </div>

          <div class="md-form mb-4"> 
            <label data-error="wrong" data-success="right" for="rating"> Rating <i class="fa fas fa-star"></i></label>
            <input type="text" id="rating" class="form-control validate" name="rating">
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-default bg-info text-white">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <div class="hi">
    <a href="" class="btn btn-default btn-rounded mb-4 bg-info text-white" data-toggle="modal" data-target="#modalLoginForm">Write a Review for this tutor</a>
  </div>
</form>

  <% elsif !signed_in? %>
    <p>Please <%= link_to 'log in', new_user_session_path %> to create a review</p>
  <% end %>


  <h3><%= link_to 'Back', index_path %></h3>
  <br>

 </div>
