<h1><%= @profile.first_name  %><%= @profile.surname %></h1>
<% if @profile.avatar.attached? %>
  <%= image_tag @profile.avatar.service_url, class: 'image' %>
<% else %>
  <%= image_tag "https://avatarfiles.alphacoders.com/182/182752.jpg", class: 'image' %>
<% end %>

<ul>
  <li>Skills: <%= @profile.skills %></li>
  <li>Bio: <%= @profile.bio %></li>
  <% if @profile.tutor? %>
    <li>Hourly Rate: <%= @profile.hourly_rate %></li>
    <% unless @tutor.reviews.count.zero? %>
      <li>Average Rating: <%= @profile.average_rating %></li>
    <% end %>
  <% end %>

</ul>

<% if @profile.tutor? %>
  <h3> Reviews: </h3>
  <% if @tutor.reviews.count.zero? %>
      <p>This tutor hasn't received any reviews yet.</p>
  <% else %>
    <ul>
      <% @tutor.reviews.each do |review| %>
        <li> <%= review.content %> </li>
        <li> <%= review.rating %> </li>
        <% if current_user.id == review.reviewer_id %>
          <li><%= link_to "Delete Review", delete_review_path(review), method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <li><%= link_to "Edit Review", edit_review_path(review) %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% if @profile.user == current_user %>
  <%= link_to "Edit profile", edit_profile_path(current_user.profile) %>
  <% unless current_user.admin? %>  
    | <%= link_to "Delete Account", profile_path(@profile.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<% if current_user && @profile != current_user.profile %>
  <h3>Write a Review</h3>
  <form class="form-style" action="<%= new_review_path %>" method="POST" enctype="multipart/form-data">

    <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
    <input type="hidden" value="<%= @profile.tutor_id %>" name="tutor_id" />
    <input type="hidden" value="<%= current_user.id %>" name="_id" />

    <label for="content">Content</label>
    <input type="text" name="content" />

    <label for="rating">Rating</label>
    <input type="text" name="rating" />

    <input type="submit" id="submit" value="Submit Review" />
  </form>
<% elsif !signed_in? %>
  <p>Please <%= link_to 'log in', new_user_session_path %> to create a review</p>
<% end %>

<br>
<%= link_to 'Back', :back %>