
<!-- Edit your first name and surname modal-->
    <div class="container ">
    <form class="form-style" action="<%= new_profile_path(@profile) %>" method="POST" enctype="multipart/form-data">
    <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
    <input type="hidden" name="_method" value="patch"/>

      <div class="modal fade" id="modalnameform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Change your name <small class="form-text text-muted mb-4">(This will appear when a tutor views your profile)</small></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <i class="fas fa-envelope prefix grey-text"></i>
                <label data-error="wrong" data-success="right" for="first_name">First Name</label>
                <input type="text" id="first_name" class="form-control validate" name="first_name" value="<%= @profile.first_name %>">
              </div>

              <div class="md-form mb-4">
                <i class="fas fa-lock prefix grey-text"></i>
                <label data-error="wrong" data-success="right" for="surname">Surname</label>
                <input type="text" id="surname" class="form-control validate" name="surname" value="<%= @profile.surname %>" />
              </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button class="btn btn-default" type="submit" value="Update">Update</button>
            </div>
          </div>
        </div>
      </div>
    <br>

    <!-- Your Profile name -->
    <h1> <%= @profile.first_name %> <%= @profile.surname %> 
    <% if @profile.user == current_user %>
    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalnameform"><i class="fa far fa-edit"></i></a>
    <% end %>
    </h1>
    <br>

    <!-- Edit avatar picture modal-->

<!-- Your avatar picture -->
      <% if @profile.avatar.attached? %>
        <div class="image_profile"><%= image_tag @profile.avatar.service_url, class: 'image' %></div>
      <% else %>
        <%= image_tag "https://avatarfiles.alphacoders.com/182/182752.jpg", class: 'image' %>
      <% end %>



























  <!-- Your skills content-->    
<div class="container" style="background-color: grey; margin: 10px; padding: 10px; color: white;">
    <h2>Skills : <p style="font-size: 20px;"><%= @profile.skills %></p></h2> 
</div>   

<!-- Your bio content--> 
<div class="container" style="background-color: grey; margin: 10px; padding: 10px; color: white;"> 
    <h2>Bio : <p style="font-size: 20px;"><%= @profile.bio %></p></h2>
</div>    


<!-- Your hourly rate and average rating content (IF YOU ARE A TUTOR THOUGH)--> 
      <% if @profile.tutor? %>
        <h2>Hourly Rate: <p style="font-size: 20px;"><%= @profile.hourly_rate %></p></h2>
      <% unless @tutor.reviews.count.zero? %>
        <h2>Average Rating: <p style="font-size: 20px;"><%= @profile.average_rating %></p></h2>
      <% end %>
    <% end %>
  </ul>



<!-- Your reviews (IF YOU ARE A TUTOR THOUGH)-->
<% if @profile.tutor? %>
  <h2> Reviews : </h2>
  <% if @tutor.reviews.count.zero? %>
      <p>This tutor hasn't received any reviews yet.</p>
  <% else %>
    <ul>
      <% @tutor.reviews.each do |review| %>
        <li> 
          <h6><strong> Content: </strong></h6> 
          <p><%= review.content %></p> 
          <h6><strong> Rating: </strong></h6> 
          <p><%= review.rating %></p> 
        </li>
        <%# <% if can? [:destroy, :update], Review %> 
        <% if signed_in? %>
          <% if review.reviewer_id == current_user.id || current_user.admin? || current_user.moderator? %>
            <%= link_to "Delete", delete_review_path(review), method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to "Edit", edit_review_path(review) %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>

<!-- edit && delete profile link-->
<% if @profile.user == current_user %>
  <%= link_to "Edit profile", edit_profile_path(current_user.profile) %>
  <% unless current_user.admin? %>  
    | <%= link_to "Delete Account", profile_path(@profile.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
</form>


<!-- Write a review modal-->
<% if current_user && @profile != current_user.profile %>
<form class="form-style" action="<%= new_review_path %>" method="POST" enctype="multipart/form-data">
    <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
    <input type="hidden" value="<%= @profile.tutor_id %>" name="tutor_id" />
    <input type="hidden" value="<%= current_user.id %>" name="reviewer_id" />

  <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Write a Review</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
          <label data-error="wrong" data-success="right" for="content"> Content <i class="fa fas fa-comment"></i></label>  
            <input type="text" id="content" class="form-control validate" name="content">
          </div>

          <div class="md-form mb-4"> 
            <label data-error="wrong" data-success="right" for="rating"> Rating <i class="fa fas fa-star"></i></label>
            <select name="rating" id="rating">
              <option value="" selected="selected">Please select</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-default bg-info text-white" type="submit" value="Submit review" >Submit review</button>
        </div>
      </div>
    </div>
  </div>

<!-- Write a review button-->
  <div class="hi">
    <a href="" class="btn btn-default btn-rounded mb-4 bg-info text-white" data-toggle="modal" data-target="#modalLoginForm">Write a Review for this tutor</a>
  </div>
</form>

  <% elsif !signed_in? %>
    <p>Please <%= link_to 'log in', new_user_session_path %> to create a review</p>
  <% end %>


  <h3><%= link_to 'Back', index_path %></h3>
  <br>

</div>
