
  <div style="margin: 100px; margin-right: 60px; padding: 20px;"><h1 style="font-size: 60px;">My Bookings</h1></div>

  <div class="d-flex flex-wrap" style="margin: 100px;">

      <% if @bookings.count.zero? %>
        <h3 >You don't have any bookings yet. Make a booking with a tutor to display your bookings.</h3>
        <a href="<%= index_path %>" style="margin: 50px;"><p class="btn btn-default btn-rounded mb-4 bg-info text-white">Find a tutor?</p></a>
      <% end %>

    <% @bookings.each do |booking| %>
      <div class="card m-2" style="width: 21.5rem;">
        <div class="card-body">
          <h2 class="card-title"><%= booking.id %></h2>
          <h5 class="card-title"><%= booking.date %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= booking.location %></h6>
          <h6 class="card-subtitle mb-2 text-muted"><%= booking.price %></h6>
          <h6 class="card-subtitle mb-2 text-muted"><%= booking.duration %></h6>
          <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 30px;"><%= link_to "View", booking_path(booking) %></h6>
        </div>
      </div>
    <% end %>

  
</div>

  