<%= render "shared/navbar" %>
<h1>My Bookings</h1>

<div class="d-flex flex-wrap">

  <% if @bookings.nil? %>
    <h3>You don't have any bookings yet. Make a booking here</h3>
  <% end %>
    <% @bookings.each do |booking| %>
      <div class="card m-2" style="width: 21.5rem;">
        <div class="card-body">
          <h2 class="card-title"><%= booking.id %></h2>
          <h5 class="card-title"><%= booking.date %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= booking.location %></h6>
          <h6 class="card-subtitle mb-2 text-muted"><%= booking.price %></h6>
          <h6 class="card-subtitle mb-2 text-muted"><%= booking.duration %></h6>
          <h6 class="card-subtitle mb-2 text-muted"><%= link_to "View", booking_path(booking) %></h6>
        </div>
      </div>
    <% end %>

  
</div>

  <p><%= link_to "Create new booking", new_booking_path %></p>