<div class="whole">
  <% if @tutor_bookings.count.zero? && @student_bookings.count.zero?%>
    <h3 >You don't have any bookings yet. Make a booking with a tutor to display your bookings.</h3>
    <a href="<%= index_path %>" style="margin: 50px;"><p class="btn btn-default btn-rounded mb-4 bg-info text-white">Find a tutor?</p></a>
  <% else %>
  
    <% if @tutor_bookings.count > 0 %>
      <div class="title"><h3>Tutor Bookings</h3></div>
      <div class="box">
      <% @tutor_bookings.each do |booking| %>
      <div class= "tutor_bookings">
        <div class="card m-2" style="width: 21.5rem;">
          <div class="card-body">
            <h2 class="card-title"><%= booking.id %></h2>
            <h5 class="card-title"><%= booking.date %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= booking.location %></h6>
            <h6 class="card-subtitle mb-2 text-muted"><%= booking.price %></h6>
            <h6 class="card-subtitle mb-2 text-muted"><%= booking.duration %></h6>
            <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 30px;"><%= link_to "View", booking_path(booking) %></h6>
          </div>
         </div>
        </div>
      <% end %>
    <% end %>
     </div>
    </div>

    
    <% if @student_bookings %>
      <div class="title"><h3>Student Bookings</h3></div>
      <div class="box">
      <% @student_bookings.each do |booking| %>
      <div class="student_bookings cards">
        <div class="card m-2" style="width: 21.5rem;">
          <div class="card-body">
            <h2 class="card-title"><%= booking.id %></h2>
            <h5 class="card-title"><%= booking.date %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= booking.location %></h6>

          <h6 class="card-subtitle mb-2 text-muted"><%= booking.price %></h6>
            <h6 class="card-subtitle mb-2 text-muted"><%= booking.duration %></h6>
            <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 30px;"><%= link_to "View", booking_path(booking) %></h6>
          </div>
         </div>
      </div>
      <% end %>
    <% end %>

  <% end %>
 
</div>

