<%= render "shared/navbar" %>
<h2>Booking #<%= @booking.id %></h2>

<ul>
  <li><%= @booking.date  %></li>
  <li><%= @booking.location %></li>
  <li><%= @booking.price %></li>
  <li><%= @booking.duration %></li>
</ul>

<p><%= link_to "EDIT", edit_booking_path(@booking) %></p>
<p><%= link_to "Delete", delete_booking_path(@booking.id), method: :delete, data: { confirm: 'Are you sure?' } %></p>
<p><%= link_to "View Bookings", bookings_path %></p>
