<footer class="page-footer font-small mdb-color pt-4 bg-dark navbar-dark">

    <div class="container text-center text-md-left">
      <div class="row text-center text-md-left mt-3 pb-3 ">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Coding Tutor</h6>
          <p>Supporting the next generation of Australian developers through facilitating amazing mentor relationships</p>
        </div>

        <hr class="w-100 clearfix d-md-none">

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Home</h6>
          <p><a href="#!">About Coding Tutor</a></p>
          <p><a href="#!">How it Works</a></p>
          <p><a href="#!">Become a Tutor</a></p>
          <p><a href="#!">Tutorials</a></p>
        </div>

        <hr class="w-100 clearfix d-md-none">

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
          <p><a href="<%= new_user_registration_path %>">Privacy Policy</a></p>
          <p><a href="<%= new_user_registration_path %>">Contribute to Coding Tutor</a></p>
          <p><a href="<%= new_user_registration_path %>">We are Not Hiring!</a></p>
          <p><a href="<%= new_user_registration_path %>">Terms and conditions</a></p></p>
          <p><a href="<%= new_user_registration_path %>">Sign up</a><p>
        </div>

        <hr class="w-100 clearfix d-md-none">

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p><i class=" fa fas fa-home mr-3"></i> Melbourne, 3000, Australia</p>
          <p><i class=" fa fas fa-envelope mr-3"></i> codingtutor@gmail.com</p>
          <p><i class=" fa fas fa-phone mr-3"></i> + 61 0123 4567 89</p>
          <p><i class=" fa fas fa-print mr-3"></i> + 61 0123 4567 89</p>
        </div>
      </div>
    </div>
    <hr>
    <p>&copy; 2019 Josh Teperman & Suet Er Lee <p>


  </footer>