<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
  <a class="navbar-brand" href="#"><i class="fa fab fa-connectdevelop fa-2x fa-spin" style="color:white"></i></a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li>
      <button class="btn btn" type="button" style="margin: 5px; font-size: 20px;">
        <a class="nav-link" href="<%= root_path %>">Home</a>
      </button>
    </li>
    <li>
      <button class="btn btn" type="button" style="margin: 5px; font-size: 20px;">
        <a class="nav-link" href="<%= about_path %>">About</a>
      </button> 
    </li>
    <li>
      <button class="btn btn" type="button" style="margin: 5px; font-size: 20px;">
        <a class="nav-link" href="https://github.com/JoshTeperman/rails_coding_tutor">Become a tutor</a>
    </button>   
    </li>
    <li>
      <button class="btn btn" type="button" style="margin: 5px; font-size: 20px;">
        <a class="nav-link" href="<%= index_path %>">Find a tutor</a>
    </button>   
    </li>

    <li>
      <% if !signed_in? %>
        <button class="btn btn" type="button" style="margin: 5px; font-size: 20px;">
          <a class="nav-link" href="<%= new_user_session_path %>">Log In</a>
        </button>
        <button class="btn btn" type="button" style="margin: 5px; font-size: 20px;">
          <a class="nav-link" href="<%= new_user_registration_path %>">Sign up</a>
        </button>
      <% end %>
    </li>


  
     <li>
      <% if user_signed_in? %>
        <% if current_user.profile %>
          <button class="btn btn" type="button" style="margin: 5px; font-size: 20px;">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Profile</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="<%= bookings_path %>">Bookings</a>
                <a class="dropdown-item" href="<%= profile_path(current_user.profile) %>">View My Profile</a>
                <% if current_user.profile.tutor? %>
                  <a class="dropdown-item" href="/profiles/<%= current_user.id %>/students">View My Students</a>
                <% end %>
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </div>
            </li>
          </button>
          
        <% end %>
        <li> <div style="margin-top: 23px;" ><i class="fa fas fa-user-circle fa-2x" style="color:white"></i></div> </li>
      <% end %>
    </li>

     
  </ul>
</nav>
