<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
  <a class="navbar-brand" href="#">LOGO</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li>
      <button class="btn btn-outline-primary" type="button" style="margin: 10px;">
        <a class="nav-link" href="<%= root_path %>">Home</a>
      </button>
    </li>
    <li>
      <button class="btn btn-outline-primary" type="button" style="margin: 10px;">
        <a class="nav-link" href="<%= about_path %>">About</a>
      </button> 
    </li>
    <li>
      <button class="btn btn-outline-primary" type="button" style="margin: 10px;">
        <a class="nav-link" href="<%= bookings_path %>">Bookings</a>
    </button>   
    </li>
    <li>
      <button class="btn btn-outline-primary" type="button" style="margin: 10px;">
        <a class="nav-link" href="#">Become a tutor</a>
    </button>   
    </li>
  

        <!-- Dropdown -->
    <form class="form-inline">

      <% if user_signed_in? %>
        <button class="btn btn-outline-primary" type="button" style="margin-left: 10px;">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Profile</a>
              <div class="dropdown-menu">
                <% if current_user.profile %>
                  <a class="dropdown-item" href="<%= profile_path(current_user.profile) %>">View My Profile</a>
                <% end %>
                <% if current_user.profile.tutor? %>
                  <a class="dropdown-item" href="/profiles/<%= current_user.id %>/students">View My Students</a>
                <% end %>

                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </div>
          </li>
        </button>
      <% else %>
        <button class="btn btn-outline-primary" type="button" style="margin-left: 10px;">
          <a class="nav-link" href="<%= new_user_session_path %>">Log In</a>
        </button>
        <button class="btn btn-outline-primary" type="button" style="margin-left: 10px;">
          <a class="nav-link" href="<%= new_user_registration_path %>">Sign up</a>
        </button>
      <% end %>
    </form>
  </ul>
</nav>

