<h1>Edit (edit review)</h1>

<form class="form-style" action="<%= update_review_path %>" method="POST" enctype="multipart/form-data">
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
  <input type="hidden" name="_method" value="patch"/>
  
  <label for="content">Content</label>
  <input type="text" name="content" value="<%= @review.content %>" /> 

  <label for="rating">Rating</label>
  <input type="text" name="rating" value="<%= @review.rating %>"/>

  <input type="submit" value="Update" />
</form>

<%= link_to "Back", :back %>
