<!DOCTYPE html>
<html>
  <head>
    <title>Coding Tutor | Coding Community</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= flash_messages %>

    <%= yield %>
    <%= render 'shared/footer' %>
  </body>

</html>